<h1> <%= @bathroom.name %> </h1>
<%= @bathroom.address %>
<%= @bathroom.city %>
<%= @bathroom.state %>
<%= @bathroom.zip %>
<%= @bathroom.description %>

<% @ratings.each do |rating| %>
  <%= rating.rating %>
  <%= rating.body %>
  <%= rating.created_at.strftime("%B %d %Y") %>
<% end %>

<%= link_to "Add a Review", new_bathroom_review_path(@bathroom) %>
